@import 'normalize-scss';
@include normalize();

.App {
  header {
    font-size: 64px;
    text-align: center;
  }
  header {
    background: #444;
    color: white;
  }
  div, .Nav {
    margin: 0;
  }
  nav {
    display: flex;
    background: #444;
    color: white;
    span {
      padding: 10px;
    }
    span.active {
      background: #888;
    }
  }
  .BasicIdeasCard, .NationalIdeasCard {
    margin: 10px;
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
  }
}
