@import 'normalize-scss';
@include normalize();

.App {
  header {
    font-size: 64px;
    text-align: center;
  }
  header {
    background: #444;
    color: white;
  }
  div, .Nav {
    margin: 0;
  }
  nav {
    display: flex;
    background: #444;
    color: white;
    span {
      padding: 10px;
    }
    span.active {
      background: #888;
    }
  }
  .BasicIdeasCard, .NationalIdeasCard {
    margin: 10px;
    border: 1px solid grey;
    display: grid;
    grid-template-columns: minmax(auto, 32px) auto auto;
    row-gap: 10px;
    padding: 5px;
  }
  .EffectCard {
    margin: 10px;
    border: 1px solid grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
  }
  span[href] {
    cursor: pointer;
  }
  span[href]:hover {
    text-decoration: underline;
  }
  .PropertyList {
  }
  .Property {
    display: flex;

    :first-child {
      margin-right: 10px;
    }
  }
  .OR, .AND, .NOT {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 5px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .OR { background-color: #8f8; }
  .AND { background-color: #88f; }
  .NOT { background-color: #f88; }
  .val {
    align-self: center;
  }
  .ModelView {
    margin-left: 1em;
  }
}
